/*css page styling */
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', 'Arial', 'Verdana';
    font-weight: 300;
    font-size: 12px;
}

body {
    width: 320px;
    height: 480px;
    min-height: 480px;
}

#container {
    width: 100%;
    height: 450px;
    min-height: 450px;
}

#content {
    height: 364px;
    min-height: 364px;
}

#top {
    height: 53px;
    line-height: 53px;
    background: #000000 url('../images/bgTop.png') repeat-x 0 0;
    color: #ffffff;
    border-bottom: 6px solid rgb(118, 59, 117);
    padding: 0 15px;
    width: 100%;
}

#top > * {
    cursor: pointer;
}

#top > h1 {
    float: left;
    font-weight: 500;
    font-size: 24px;
}

#top > span {
    float: right;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 3px;
}

#iconbar {
    margin: 0 auto;
    width: 200px
}

#iconbar img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

#optionList {

}

#optionList ul, #choice ul, #routes ul, #delete ul{
    list-style-type: none;
    overflow: auto;
}

#routes ul li, #delete ul li {
    width: 110px;
    margin: 0 auto;
}

#optionList ul li, #choice ul li, #map > #setLocation, #routes ul li input, #text, #delete ul li input {
    text-align: center;
    width: 100px;
    background: #000000 url('../images/bgTop.png') repeat-x 0 0;
    padding: 5px;
    margin: 5px auto;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    border: 0;
}

#footer {
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-top: 3px solid rgb(118, 59, 117);
    padding: 0 15px;
}

#footer > p {
    float: left;
}

#footer > div {
    float: right;
}

#choice, #error, #map, #map2, #map3, #routes, #delete, #instr {
    display: none;
}

#choice > h2, #error > h2, #map > h2, #routes > h2, #map2 > h2, #map3 > h2, #delete > h2, #instr > h2{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
}

#instr > h3, #instr > h4 {
    text-transform: uppercase;
}

#instr > h3 {
    font-weight: 500;
    padding: 10px 15px;
}

#instr > h4 {
    font-weight: 300;
    padding: 5px 20px;
}

#instr ul {
    list-style-type: circle;
}

#instr ul li {
    padding: 2px 34px;
}

#instr > p {
    padding: 3px 25px;
}
#instr > h3 {
    font-size: 16px;
}

#instr > h4 {
    font-size: 14px;
}
#graph2 {
    overflow-y: auto !important;
}

#map > #graph, #map2 > #graph2, #map3 > #graph3 {
    width: 300px;
    height: 250px;
    min-height: 250px;
    margin: 0 auto;
}

#map > #graph >img, #map2 > #graph2 >img {
    width: 320px;
    height: 250px;
    border: 0;
}

#locationName {
    margin: 15px 0 25px 0;
    text-align: center;
}

#locationName > label, #locationName > input {
    font-size: 14px;
}

#locationName > label {
    font-weight: 400;
    margin-right: 8px;
}

.hidden {
    display: none;
}
